.main5{

    
    article{
        width: 100%;
        height: 250px;
        #stock{
        position: absolute;
        width: 45%;
        height: 920px;
        object-fit: cover;
    }
    }
    .catal{
        @include main(relative, pre-line, center, none);
        bottom: 300px;
        padding: 20px;
        width: 100%;
        height: 250px;
        color: map-get($colores, color4 );
        @include font(31.25rem);
        right: 550px;
        font-size: 25px;
    }
    
    .logo{
        @include main(relative, pre-line, center, none);
        bottom: 175px;
        padding: 20px;
        width: 100%;
    
        color: map-get($colores, color4 );
        @include font(bolder);
        right: 550px;
        font-size: 25px;
    }
    #contacton2{
        position: relative;
        bottom: 450px;
        padding: 15px;
        left: 369px;
        color: map-get($colores, color3 );
        @include font(bolder);
        text-decoration: none;
        background-color: map-get($colores, color4 );
        
    }
    #contacton3{
        display: none;
        position: relative;
        padding: 15px;
        bottom: 508px;
        left: 150px;
        color: map-get($colores, color3 );
        @include font(bolder);
        text-decoration: none;
        background-color: map-get($colores, color4 );
    }

    #init{
        display: none;
        position: relative;
        top: 50px;
        padding: 15px;
        left: 69px;
        color: map-get($colores, color3 );
        @include font(bolder);
        text-decoration: none;
        background-color: map-get($colores, color4 );
    
    }

    #Carrito{
        display: none;
        position: relative;
        top: 50px;
        padding: 15px;
        left: 69px;
        color: map-get($colores, color3 );
        @include font(bolder);
        text-decoration: none;
        background-color: map-get($colores, color4 );
    
    }

    #buscador{
        display: none;
        position: relative;
        top: 50px;
        left: 69px;
        padding: 4,5px;
        border: none;
        outline: none;
    }

    #buscar{
        display: none;
        position: relative;
        top: 5px;
        padding: 5px;
        left: 469px;
        font-size: 12px;
        color: map-get($colores, color3 );
        @include font(bolder);
        text-decoration: none;
        background-color: map-get($colores, color4 );
    }

    .container{
        position: relative;
    }

    #lupita{
        top: 14px;
        left: 100px;
        position: absolute;
        width: 15px;
        display: none;
        pointer-events: none;
        z-index: 10;
    }
    #finalizarCompra{
        display: none;
        position: relative;
        padding: 15px;
        bottom: 566px;
        left: 269px;
        color: map-get($colores, color3 );
        @include font(bolder);
        text-decoration: none;
        background-color: map-get($colores, color4 );
    }
    #x{
        display: none;
    }
    #contenedorCarrito{
        display: flex;
        border: 2px solid black;
        width: 1850px;
        min-height: 500px;
        position: relative;
        top: 69px;
        left: 29px;
        gap: 10px;
    }

    .productcarr{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .productcarr div{
        .agregarcarr{
            color: map-get($colores, color3 );
            @include font(32px);
            text-decoration: none;
            background-color: map-get($colores, color4 );
        }
        
        .eliminarcarr{
            color: map-get($colores, color3 );
            @include font(32px);
            text-decoration: none;
            background-color: map-get($colores, color4 );
        }
    }
    #productos{
        display: flex;
        flex-wrap: wrap;
        top: 69px;
        position: relative;
        text-align: center;
        justify-content:space-around;
        

            .producto{
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 20px;
                height: auto;
                @include font(bolder);
                max-width: 250px;
                background-color: #FFFFFF;
                border-radius: 10px;
            }

            .producto img{
                object-fit: cover;

            }
            .producto button{
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                color: #FFFFFF;
                background-color: #3483FA;
                border: none;
                outline: none;
            }
    }
    #productos{
        display: none; 
    }
    p{
        margin: 0%;
    }
    .esconder{
        display: none !important; 
    }

    .mostrar{
        display: flex !important;
    }
    .mostrar2{
        display: inline !important;
    }
    
    .contacton{
        position: relative;
        bottom: 380px;
        padding: 15px;
        width: 25%;
    
        left: 329px;
        color: map-get($colores, color3 );
        @include font(bolder);
        text-decoration: none;
        background-color: map-get($colores, color4 );
    
    }
    
    .restock{
        position: relative;
        bottom: 1000px;
        left: 1100px;
        object-fit: cover;
        width:30%;
        height: 700px;
        padding: 5px;
    }
    .div-1{
        @include main(relative, pre-line, center, none);
        bottom: 350px;
        padding: 20px;
        width: 100%;
        height: 250px;
        color: map-get($colores, color4 );
        @include font(31.25rem);
        right: 550px;
        font-size: 25px;
    }
    form{
        position: relative;
        bottom: 500px;
        left: 290px;
        padding: 20px;
        border: none;
    }
    input::placeholder{
        color: map-get($colores, color3 );    
    }
    .carrousel{
        width: 500px;
        height: 250px;
        position: relative;
        bottom: 900px;
        left: 1150px;
        background-color: #FFFFFF;
    }

}
